{{ header }}
<div class="jumbotron">
	<div class="container-fluid">
		<h2 class="display-5">{{ text_post }}</h2>
	</div>
</div>
<div class="container-fluid">
	<div class="row">
		<div class="col-12">
			<nav id="breadcrumbs">
				<ul>
					{% for breadcrumb in breadcrumbs %}
					<li><a href="{{ breadcrumb.href }}">{{ breadcrumb.text }}</a></li>
					{% endfor %}
				</ul>
			</nav>
		</div>
	</div>
	<div class="row">
		<div class="col-sm-12 col-md-9 mb-4">
			<div class="blog-post single-post">
				<div class="blog-post-thumbnail">
					<div class="blog-post-thumbnail-inner">
						<img src="{{ image }}" alt="">
					</div>
				</div>
				<div class="blog-post-content">
					<h3 class="margin-bottom-10">{{ title }}</h3>
					<div class="blog-post-info-list margin-bottom-20">
						<span class="blog-post-info">{{ date_added }}</span>
					</div>
					<p>{{ body }}</p>
				</div>
			</div>
		</div>
		<div class="col">
			<div class="sidebar-container">
				<div class="sidebar-widget">
					<h3>{% text_trending %}</h3>
					<ul class="widget-tabs">
						{% for trend in trending %}
						<li>
							<a href="{{ trend.href }}" class="widget-content active">
								<img src="{{ trend.image }}" alt="">
								<div class="widget-text">
									<h5>{{ trend.title }}</h5>
									<span>{{ trend.date_added }}</span>
								</div>
							</a>
						</li>
						{% endfor %}
					</ul>
				</div>
				<div class="sidebar-widget">
					<h3>{{ text_social }}</h3>
					<div class="freelancer-socials margin-top-25">
						<ul>
							{% for social in social_networks %}
							<li>
								<a href="{{ social.href }}" target="_blank" data-toggle="tooltip"
									title="{{ social.name }}" data-placement="bottom">
									<i class="fab fa-{{ social.name }}"></i>
								</a>
							</li>
							{% endfor %}
						</ul>
					</div>
				</div>
			</div>
		</div>
	</div>
	<div class="row">
		<div class="col-sm-12 col-md-6">
			<h3 class="margin-top-35 margin-bottom-30">{{ text_add_comment }}</h3>
			<form action="" method="" id="form-comment" class="form-post-comment">
				<div class="form-row">
					<div class="input-group mb-3">
						<div class="input-group-prepend">
							<span class="input-group-text" id="basic-addon1"><i
									class="icon-material-outline-account-circle"></i></span>
						</div>
						<input type="text" class="form-control" name="name" id="input-name"
							placeholder="<?php echo $entry_name; ?>" />
					</div>
					<div class="input-group mb-3">
						<div class="input-group-prepend">
							<span class="input-group-text" id="basic-addon1"><i
									class="icon-material-baseline-mail-outline"></i></span>
						</div>
						<input type="text" class="form-control" name="email" id="input-email"
							placeholder="<?php echo $entry_email; ?>" required />
					</div>
					<textarea name="comment" cols="30" rows="5" class="form-control" id="input-comment"
						placeholder="Comment"></textarea>
				</div>
				<button class="button button-sliding-icon ripple-effect margin-bottom-40 margin-top-20" type="button"
					id="add-comment">{{ button_add }} <i class="icon-material-outline-arrow-right-alt"></i></button>
			</form>
		</div>
	</div>
	{% post_comments %}
	<div class="row">
		<div class="col-12">
			<section class="comments">
				<h3 class="margin-top-45 margin-bottom-0">{{ text_comments }}</h3>
				<ul>
					{% for comment in post_comments %}
					<li>
						<div class="avatar"></div>
						<div class="comment-content">
							<div class="arrow-comment"></div>
							<div class="comment-by">{{ comment.name }}<span class="date">{{ comment.date_added }}</span>
							</div>
							<p>{{ comment.text }}</p>
						</div>
					</li>
					{% endfor %}
				</ul>
			</section>
		</div>
	</div>
	{% endif %}
</div>
<div class="padding-top-40"></div>
<script type="text/javascript">
$("#add-comment").on('click', function () {
	$.ajax({
		url: 'extension/blog/blog/addComment?post_id={{ post_id }}',
		headers: {
          "X-CSRF-TOKEN": $('meta[name="{{ csrf_token() }}"]').attr('content'),
          "X-Requested-With": "XMLHttpRequest"
        },
		method:'post',
		dataType: 'json',
		data: $('#form-comment').serialize(),
        beforeSend: function() {
        	$('#form-comment').removeClass('is-invalid');
        	$('.alert, .invalid-feedback').remove();
			$(this).html('<span class="spinner-border spinner-border-sm" role="status" aria-hidden="true"></span> Loading...');
		},
		complete: function() {
			$(this).html('{{ button_add }} <i class="icon-material-outline-arrow-right-alt"></i>');
		},
        success: function(json) {
        	if (json['error']) {
        		for (i in json['error']) {
        			var el = $('#input-' + i);
        			el.addClass('is-invalid');
        			el.after('<div class="invalid-feedback d-block">' + json['error'][i] + '</div>');
        		}
        	}

			if(json['success']) {
				 $('#form-comment').trigger('reset');
				 $('#form-comment').before('<div class="notification success closeable"><p><i class="fas fa-check-circle"></i> ' + json['success'] + '</p><a class="close" href="#"></a></div>');

			}
		},
		error: function(xhr, ajaxOptions, thrownError) {
			alert(thrownError);
		}
	});
});
</script>
{{ footer }}
