{{ header }}{{ dashboard_menu }}
{# <!-- Dashboard Content --> #}
<div class="dashboard-content-container container margin-top-20">
	<div class="dashboard-content-inner">
		<div class="dashboard-headline">
			<h3>{{ heading_title }}</h3>
		</div>
		<div class="row">
			<div class="col-12">
				<div class="shadow-sm p-3 mb-5 bg-white rounded border">
					<div class="mb-4">
						<h3><i class="icon-material-outline-account-circle"></i> {{ text_account }}</h3>
					</div>
					<div class="content with-padding padding-bottom-0">
							<div class="row">
								<div class="col-3">
								  <div class="nav flex-column nav-pills" id="v-pills-tab" role="tablist" aria-orientation="vertical">
									<a class="nav-link active" id="v-pills-notification-tab" data-toggle="pill" href="#v-pills-notification" role="tab" aria-controls="v-pills-notification" aria-selected="false">Email & Notifications</a>
									<a class="nav-link" id="v-pills-password-tab" data-toggle="pill" href="#v-pills-password" role="tab" aria-controls="v-pills-password" aria-selected="false">Password</a>
									<a class="nav-link" id="v-pills-security-tab" data-toggle="pill" href="#v-pills-security" role="tab" aria-controls="v-pills-security" aria-selected="false">Account Security</a>
								  </div>
								</div>
								<div class="col-9">
								  <div class="tab-content" id="v-pills-tabContent">
									<div class="tab-pane fade show active" id="v-pills-notification" role="tabpanel" aria-labelledby="v-pills-notification-tab">
										<form id="form-notification">
										<div class="col-12">
											<div class="form-group">
												<label for="input-password">{{ entry_email }}</label>
												<input type="text" class="form-control" value="{{ email }}">
											</div>
											<div class="form-group">
												<label for="input-password">{{ entry_current_password }}</label>
												<input type="password" class="form-control" id="input-password" name="password">
											</div>	
										</div>
										<button type="button" id="button-form-notification" class="button ripple-effect big margin-top-30 float-right">Update</button>
									</form>

									</div><!--../notification tab content-->
									<div class="tab-pane fade" id="v-pills-password" role="tabpanel" aria-labelledby="v-pills-password-tab">
										<form id="form-password">
											<div class="headline mb-4">
												<h3><i class="icon-material-outline-lock"></i> {{ text_password_security }}</h3>
											</div>
											<div class="form-group">
												<label for="input-current">{{ entry_current_password }}</label>
												<input type="password" class="form-control" id="input-current" name="current">
											</div>											
											
											<div class="form-group">
												<label for="input-password">{{ entry_password }}</label>
												<input type="password" class="form-control" id="input-password" name="password">
											</div>	
											<div class="form-group">
												<label for="input-confirm">{{ entry_confirm }}</label>
												<input type="password" class="form-control" id="input-confirm" name="confirm">
											</div>
											<button type="button" id="button-form-password" class="button ripple-effect big margin-top-30 float-right">Update</button>
										</form>
									</div><!--../password tab content-->
									<div class="tab-pane fade" id="v-pills-security" role="tabpanel" aria-labelledby="v-pills-security-tab">
										<div class="form-security">
											<form class="form-group">
												<label class="control-label"><span data-toggle="tooltip" title="{{ help_two_step }}"><i class="fas fa-info-circle"></i></span> {{ text_two_step }} </label>
												<div class="">
												  <label class="radio-inline"> {% if two_step %}
													<input type="radio" name="two_step" value="1" checked="checked" /> {{ text_yes }}
													{% else %}
													<input type="radio" name="two_step" value="1" /> {{ text_yes }}
													{% endif %} </label>
												  <label class="radio-inline"> {% if not two_step %}
													<input type="radio" name="two_step" value="0" checked="checked" /> {{ text_no }}
													{% else %}
													<input type="radio" name="two_step" value="0" /> {{ text_no }}
													{% endif %} </label>
												</div>
											  </div>
											  <button type="button" id="button-form-security" class="button ripple-effect big margin-top-30 float-right">Update</button>
											</form>

									</div><!--../security tab content-->
								  </div>
								</div>
							  </div>






						
					</div>
				</div>
			</div>

		</div>
		<!--row-->
	</div>
</div>

<!-- password change -->
<script type="text/javascript">
	$('#button-form-password').on('click', function () {
		var node = this;
		$.ajax({
			url: 'account/setting/password',
			headers: {
				'X-CSRF-TOKEN': $('meta[name="{{ csrf_token() }}"]').attr('content'),
				'X-Requested-With': 'XMLHttpRequest'
			},
			method: 'post',
			dataType: 'json',
			data: $('#profile-form').serialize(),
			beforeSend: function () {
				$('.alert, .text-danger, .invalid-feedback').remove();
				$('#profile-form input').removeClass('is-invalid');
				$(node).html('<span class="spinner-border spinner-border-sm" role="status" aria-hidden="true"></span> Loading...');
			},
			complete: function () {
				$('.spinner-border').remove();
				$(node).html('Update');
			},
			success: function (json) {
				// validation errors
				if (json['error']) {
					for (i in json['error']) {
						var el = $('#input-' + i.replace('_', '-'));
						if (el) {
							el.after('<div class="invalid-feedback">' + json['error'][i] + '</div>');
							el.addClass('is-invalid');
						}
					}

					if (json['error']['error_password']) {
						$('input-password').prepend('<div class="invalid-feedback">' + json['error']['error_password'] + '</div>');
					}

					if (json['error']['old_password']) {
						$('#profile-form-form .content').before('<div class="alert alert-danger alert-dismissible fade show" role="alert"><i class="fas fa-exclamation-circle"></i> ' + json['error']['old_password'] + '<button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button></div>');
					}
				}

				if (json['success']) {
					$(node).before('<div class="alert alert-success alert-dismissible fade show" role="alert"><i class="fas fa-check-circle"></i> ' + json['success'] + '<button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button></div>');
					$('#profile-form-form input').val('');
				}
			},
			error: function (xhr, ajaxOptions, thrownError) {
				alert(thrownError + "\r\n" + xhr.statusText + "\r\n" + xhr.responseText);
			}
		});
	});
</script>
{{ footer }}