{% if currencies|length > 0 %}
  <div class="footer-row">
    <div class="footer-row-inner language-switcher">
      <form action="{{ action }}" method="post" enctype="multipart/form-data" id="form-currency">
        <input type="hidden" name="{{ csrf_token() }}" value="{{ csrf_hash() }}" />
        <div class="form-group">
          <select class="custom-select" id="currency-list">
            {% for currency in currencies %}
              {% if currency.code == code %}
                <option value="{{ currency.code }}" selected>{{ currency.title }}</option>
               {% else %}
                <option value="{{ currency.code }}">{{ currency.title }}</option>
              {% endif %}
        {% endfor %}
          </select>
        </div>
        <input type="hidden" name="code" value=""/> <input type="hidden" name="redirect" value="{{ redirect }}"/>
      </form>
    </div>
  </div>
  {% endif %}