<div id="footer">
	<div class="footer-top-section">
		<div class="container">
			<div class="row">
				<div class="col-xl-12">
					<div class="footer-rows-container">
						<div class="footer-rows-left">
							<div class="footer-row">
								<div class="footer-row-inner footer-logo">
									<img src="{{ logo }}" alt="{{ config_name }}">
								</div>
							</div>
						</div>
						<div class="footer-rows-right">
							<div class="footer-row">
								<div class="footer-row-inner">
									<ul class="footer-social-links">
										{% for social in social_networks %}
										<li>
											<a href="{{ social.href }}" target="_blank" data-toggle="tooltip"
												title="{{ social.name }}" data-placement="bottom">
												<i class="fab fa-{{ social.name }}"></i>
											</a>
										</li>
										{% endfor %}
									</ul>
									<div class="clearfix"></div>
								</div>
							</div>
							{{ language }}
							{{ currency }}
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
	<div class="footer-middle-section">
		<div class="container">
			<div class="row">
				<div class="col-sm-12 col-md-3">
					<div class="footer-links">
						<h3>{{ text_freelancer }}</h3>
						<ul>
							<li><a href="{{ category }}"><span>{{ text_categories }}</span></a></li>
							<li><a href="{{ projects }}"><span>{{ text_projects }}</span></a></li>
							<li><a href="{{ freelancers }}"><span>{{ text_freelancers }}</span></a></li>

						</ul>
					</div>
				</div>
				<div class="col-sm-12 col-md-3">
					<div class="footer-links">
						<h3>{{ text_terms }}</h3>
						<ul>
							{% for information in informations %}
							<li><a href="{{ information.href }}"><span>{{ information.title }}</span></a></li>
							{% endfor %}
							<li><a href="{{ contact }}"><span>{{ text_contact }}</span></a></li>
						</ul>
					</div>
				</div>
				<div class="col-sm-12 col-md-3">
					<div class="footer-links">
						<h3>{{ text_categories }}</h3>
						<ul>
							{% for category in categories %}
							<li><a href="{{ category.href }}"><span>{{ category.name }}</span></a></li>
							{% endfor %}
						</ul>
					</div>
				</div>
				<div class="col-sm-12 col-md-3">
					<div class="footer-links">
						<h3>{{ text_account }}</h3>
						<ul>
							<li><a href="{{ register }}"><span>{{ text_register }}</span></a></li>
							<li><a href="{{ login }}"><span>{{ text_login }}</span></a></li>
						</ul>
					</div>
				</div>
			</div>
		</div>
	</div>
	<div class="footer-bottom-section">
		<div class="container">
			<div class="row">
				<div class="col-xl-12">
					{{ text_footer }}
				</div>
			</div>
		</div>
	</div>
</div>
</div>
<!-- ../loader overlay Start-->
<div id="overlay">
	<div class="spinner"></div> Loading...
</div>
<!-- ../loader overlay End -->
<!-- Gmail Sign in  -->
<script src="https://apis.google.com/js/platform.js?onload=onLoad" async defer></script>
<script>
	function onLoad() {
		gapi.load('auth2', function () {
			gapi.auth2.init();
		});
	}

	function gSignOut() {
		var auth2 = gapi.auth2.getAuthInstance();
		auth2.signOut();
	}
</script>
<!-- ../ Start Chat Wdget Code -->
{{ config_chat_widget }}
<!-- ../End Chat Wdget Code -->
<!-- New Project Global Alert -->
<script type="text/javascript">
	var PUSHER_KEY = "{{ PUSHER_KEY }}";
	var PUSHER_CLUSTER = "{{ PUSHER_CLUSTER }}";

	var pusher = new Pusher(PUSHER_KEY, {
		cluster: PUSHER_CLUSTER
	});

	var channel = pusher.subscribe('global-channel');
	channel.bind('new-project-event', function (data) {
		{
			%
			if customer_id != data.employer_id %
		}
		$.notify({
			// options
			icon: 'fas fa-desktop',
			title: data.name,
			message: data.budget,
			url: data.href,
			target: '_blank'
		}, {
			// settings
			newest_on_top: true,
			placement: {
				from: "bottom",
				align: "left"
			},
			offset: 20,
			spacing: 10,
			z_index: 1031,
			delay: 8000,
			timer: 1000,
			animate: {
				enter: 'animate__animated animate__fadeInUpBig',
				exit: 'animate__animated animate__fadeOutDownBig'
			},
		}); {
			% endif %
		}
	});
</script>
</body>

</html>