<div class="table-responsive">
    <table class="table table-striped table-bordered w-100" id="table-pastprojects-tab">
        <thead>
            <tr>
                <th>{{ column_project_id }}</th>
                <th>{{ column_name }}</th>
                <th>{{ column_budget }}</th>
                <th>{{ column_type }}</th>
                <th>{{ column_bids }}</th>
                <th>{{ column_avg_bids }}</th>
                <th>{{ column_status }}</th>
                <th>{{ column_amount }}</th>
                <th>{{ column_paid }}</th>
                <th>{{ column_action }}</th>
            </tr>
        </thead>
        </thead>
        <tbody>
            {% if projects %}
            {% for project in projects %}
            <tr>
                <td>{{ project.project_id }}</td>
                <td>{{ project.name }}</td>
                <td>{{ project.budget }}</td>
                <td>{{ project.type }}</td>
                <td>{% if project.total_bids > 0 %}
                    <span class="badge badge-success">{{ project.total_bids }}</span>
                    {% else %}
                    <span class="badge badge-danger">{{ project.total_bids }}</span>
                    {% endif %}</td>
                <td>{{ project.avgBids }}</td>
                <td>{{ project.status }}</td>
                <td>{{ project.amount|number_format(2) }}</td>
    						<td>{{ project.paid }}</td>
    						<td width="10%">{% if project.amount > 0 and project.paid != 'Paid' %}
    							<span data-toggle="tooltip" data-placement="top" title="Pay">
    								<button type="button" onclick="payFreelancer({{ project.employer_id }}, {{ project.freelancer_id }}, {{ project.project_id }}, {{ project.amount }}, {{ project.employer_id }});" class="btn btn-success btn-sm">
                                        <i class="far fa-money-bill-alt"></i></button>
    							</span>
                                {% if project.inDispute %}
                                <span data-toggle="tooltip" data-placement="top" title="Open Dispute">
                                    <button type="button" class="btn btn-danger btn-sm" onclick="openDispute({{ project.employer_id }}, {{ project.freelancer_id }}, {{ project.project_id }});"><i class="fas fa-exclamation-circle"></i></button>
                                </span>
                            {% endif %}
    						{% else %}
    							<button type="button" class="btn btn-secondary btn-sm" data-toggle="tooltip" data-placement="top" title="Pay" disabled><i class="fas fa-wallet"></i></button>
                                {% if not project.inDispute %}
                                <span data-toggle="tooltip" data-placement="top" title="Open Dispute">
                                    <button type="button" class="btn btn-danger btn-sm" onclick="openDispute({{ project.employer_id }}, {{ project.freelancer_id }}, {{ project.project_id }});"><i class="fas fa-exclamation-circle"></i></button>
                                </span>
                                {% endif %}
                                {% endif %}
    					</td>
    				</tr>
                    {% endfor %}
    		{% endif %}
    	</tbody> 
    </table>
</div>  
<link rel="stylesheet" href="catalog/default/vendor/DataTables/datatables.css" media="all" type="text/css" />
<script src="catalog/default/vendor/DataTables/datatables.min.js" type="text/javascript"></script>
<script type="text/javascript">
$('#table-pastprojects-tab').DataTable({
    "lengthMenu": [10, 20, 30],
});
</script>
<!-- Tranfer amount -->
<script type="text/javascript">
function payFreelancer(employer_id, freelancer_id, project_id, amount) {
  var dialog = bootbox.confirm({
    title: '<i class="fas fa-exclamation"></i> Your Currenct Balance is: {{ balance }}',
    message: '<form id="payFreelancer-form"><input type="hidden" name="freelancer_id" value="'+freelancer_id+'" /><input type="hidden" name="project_id" value="'+project_id+'" /><div class="form-group"><label for="input-amount">Amount</label><input type="number" class="form-control" name="amount" value="' + amount + '"></div></form>',
    className: 'animate__animated animate__fadeInDown',
    buttons: {
        cancel: {
            label: '<i class="fa fa-times"></i> Cancel',
            className: 'btn-dark'
        },
        confirm: {
            label: '<i class="fa fa-check"></i> Confirm',
            className: 'btn-success'
        }
    },
    callback: function (result) {
    if (result === false) {
        dialog.modal('hide');
    } else {
      $.ajax({
            url: 'employer/employer/transferFunds',
            headers: {
              'X-CSRF-TOKEN': $('meta[name="{{ csrf_token() }}"]').attr('content'),
              'X-Requested-With': 'XMLHttpRequest'
            },
            dataType: 'json',
            method:'post',
            data: {'employer_id': employer_id, 'freelancer_id': freelancer_id, 'project_id': project_id, 'amount': amount},
            beforeSend: function() {
                $('.alert').remove();
                $('#freelancer-past-list').html('<div id="spinner" class="d-flex justify-content-center"><div class="spinner-border mr-2" role="status"><span class="sr-only">Loading...</span></div>Loading...</div>');
            },
            complete: function() {
                $('#spinner').remove();
            },
            success: function(json) {

                if (json['error']) {
                      dialog.find('.modal-body').before('<div class="alert alert-danger alert-dismissible fade show" role="alert"><i class="fas fa-exclamation-circle"></i> '+json['error']+'<button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button></div>')
                }
                
                if (json['success']) {
                    dialog.modal('hide');
                    $('#employer-past-list').load('employer/Project/getPastProjects');

                    $('#past-projects').before('<div class="alert alert-success alert-dismissible fade show" role="alert"><i class="fas fa-check-circle"></i> ' + json['success'] + '<button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button></div>'); 
                } 
            },
            error: function(xhr, ajaxOptions, thrownError) {
                alert(thrownError + "\r\n" + xhr.statusText + "\r\n" + xhr.responseText);
            }
        });
      } 
      return false;
    } 
   });
}

// open Dispute
function openDispute(employer_id, freelancer_id, project_id) {
  var dialog = bootbox.confirm({
    title: 'Claim Dispute',
    message: '<form id="open-dispute-form"><input type="hidden" name="freelancer_id" value="'+freelancer_id +'" /><input type="hidden" name="project_id" value="' + project_id + '" /><input type="hidden" name="employer_id" value="' + employer_id + '" /><div class="form-group"><label for="input-comment">Comment</label><textarea type="text" class="form-control" id="comment" name="comment"></textarea></div><div class="form-group"><label for="message-text" class="col-form-label">Reason:</label><select class="custom-select" name="dispute_reason_id" id="dispute_reason_id">{% for reason in dispute_reasons %}<option value="{{ reason.dispute_reason_id }}">{{ reason.name }}</option>{% endfor %}</select></div></form>',
    className: 'animate__animated animate__fadeInDown',
    buttons: {
        cancel: {
            label: '<i class="fa fa-times"></i> Cancel',
            className: 'btn-dark'
        },
        confirm: {
            label: '<i class="fa fa-check"></i> Confirm',
            className: 'btn-success'
        }
    },
    callback: function (result) {
    if (result === false) {
        dialog.modal('hide');
    } else {
      $.ajax({
            url: 'employer/employer/openDispute',
            headers: {
              'X-CSRF-TOKEN': $('meta[name="{{ csrf_token() }}"]').attr('content'),
              'X-Requested-With': 'XMLHttpRequest'
            },
            dataType: 'json',
            method:'post',
            data: $('#open-dispute-form').serialize(),
            beforeSend: function() {
                $('#freelancer-past-list').html('<div id="spinner" class="d-flex justify-content-center"><div class="spinner-border mr-2" role="status"><span class="sr-only">Loading...</span></div>Loading...</div>');
                $('.alert, .invalid-feedback').remove();
                $('#comment').removeClass('is-invalid');
            },
            complete: function() {
                $('#spinner').remove();
            },
            success: function(json) {  

                 if (json['error']) {
                    for (i in json['error']) {
                        $('#comment').addClass('is-invalid');
                        $('#comment').after('<div class="invalid-feedback"><i class="fas fa-exclamation-triangle"></i>' + json['error'][i] + '</div>'); 
                    }
                }
                  
                if (json['success']) {
                  dialog.modal('hide');

                  $('#employer-past-list').load('employer/Project/getPastProjects');

                  $('#employer-past-list').before('<div class="alert alert-success alert-dismissible fade show" role="alert"><i class="fas fa-check-circle"></i> ' + json['success'] + '<button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button></div>'); 
                } 
            },
            error: function(xhr, ajaxOptions, thrownError) {
                alert(thrownError + "\r\n" + xhr.statusText + "\r\n" + xhr.responseText);
            }
        }); 
      } 
      return false;
    } // Callback
   });
}
</script>