{{ header }}
<div class="jumbotron">
	<div class="container-fluid">
		<h3 class="display-5">{{ text_tell_us }}</h3><br />
		<p class="lead">{{ text_sub }}</p>
	</div>
</div>
<div class="section padding-bottom-60 full-width-carousel-fix">
<div class="container">	
		<div class="row justify-content-center">
			<div class="col-md-12">
				<div class="add-project-box margin-top-30 shadow-sm p-3 mb-5 bg-white rounded border">
					<div class="headline mb-2">
						<h3 class=""><i class="icon-feather-folder-plus"></i> {{ text_form }}</h3>
						<hr />
					</div>
					<div class="content with-padding padding-bottom-10">
						<form enctype="multipart/form-data" method="post" action="" accept-charset="utf-8" id="form-project-add"> 
							<input type="hidden" name="employer_id" value="{{ employer_id }}" />
							<div class="form-group row">
								<label for="input-name" class="col-sm-3 col-form-label">{{ entry_name }}</label>
								<div class="col-sm-9">
									<input type="text" class="form-control" placeholder="e.g. build me a website" name="project_description[{{ language_id }}][name]" value="{{ project_description.language_id.name ?? '' }}" id="input-{{ language_id }}-name">
								</div>
							</div>
							<div class="form-group row mb-4">
								<label for="input-description" class="col-sm-3 col-form-label">{{ entry_description }}</label>
								<div class="col-sm-9">
									<textarea rows="10" class="form-control" name="project_description[{{ language_id }}][description]" id="input-{{ language_id }}-description">{{ project_description.language_id.description ?? '' }}</textarea>
								</div>
							</div>
							<div class="clearfix"></div>
							<div class="form-group row margin-top-30">
							<label for="input-upload" class="col-sm-3 col-form-label">{{ entry_upload }}<span data-toggle="tooltip" title="{{ help_upload }}" datat-placement="top" class="text-primary"> <i class="icon-material-outline-help-outline"></i></span></label>
								<div class="col-sm-9">
									<div class="file-loading">
									<input id="input-upload" type="file" class="form-control" name="projectfiles[]" multiple>
									</div>
									<small id="emailHelp" class="form-text text-muted">{{ help_upload }}</small>
								</div>
							</div>
							<div class="clearfix"></div>
							<div class="form-group row">
								<label for="input-category" class="col-sm-3 col-form-label">{{ entry_skills }}</label>
								<div class="col-sm-9">
									<select class="form-control" name="category[]" data-width="100%" multiple="multiple">
										<option></option>
										{% for category in categories %}
										{% if category.category_id == category_id %}
										<option value="{{ category.category_id }}" selected>{{ category.name }}</option>
										{% else %}
										<option value="{{ category.category_id }}">{{ category.name }}</option>
										{% endif %}
										{% endfor %}
									</select>
									<span id="input-category"></span>
								</div>
							</div>
							<div class="form-group row" id="input-form-type">
								<label for="input-type" class="col-sm-3 col-form-label">{{ text_type }}</label>
								<div class="col-sm-9">
									{% if type == 1 %}
										<div class="form-check form-check-inline">
											<input class="form-check-input" type="radio" name="type" id="fixed-price" value="1" checked>
											<label class="form-check-label" for="input-type">{{ text_fixed_price }}</label>
										</div>
										<div class="form-check form-check-inline">
											<input class="form-check-input" type="radio" name="type" id="hourly" value="2">
											<label class="form-check-label" for="input-type">{{ text_hourly_rate }}</label>
										</div>
									{% elseif type == 2 %}
										<div class="form-check form-check-inline">
											<input class="form-check-input" type="radio" name="type" id="fixed-price" value="1">
											<label class="form-check-label" for="input-type">{{ text_fixed_price }}</label>
										</div>
										<div class="form-check form-check-inline">
											<input class="form-check-input" type="radio" name="type" id="hourly" value="2" checked>
											<label class="form-check-label" for="input-type">{{ text_hourly_rate }}</label>
										</div>
									{% else %}
									<div class="form-check form-check-inline">
										<input class="form-check-input" type="radio" name="type" value="1" id="fixed-price" checked>
										<label class="form-check-label" for="input-type">{{ text_fixed_price }}</label>
									</div>
									<div class="form-check form-check-inline">
										<input class="form-check-input" type="radio" name="type" id="hourly" value="2">
										<label class="form-check-label" for="input-type">{{ text_hourly_rate }}</label>
									</div>	
									{% endif %}
								</div>
							</div>
							<div id="budget-container">
								<div class="form-group row mt-3">
									<label for="input-budget" class="col-sm-3 col-form-label">{{ text_budget }}<span data-toggle="tooltip" title="{{ help_budget }}" datat-placement="top" class="text-primary"> <i class="icon-material-outline-help-outline"></i></span></label>
									<div class="col-sm-9">
										<div class="input-group">
											<div class="input-group-prepend">
												<div class="input-group-text">{{ config_currency }}</div>
											</div>
											<input type="number" class="form-control" placeholder="{{ entry_min }}" name="budget_min" value="" min="1" id="input-budget_min">
										</div>
										<div class="input-group mt-2">
											<div class="input-group-prepend">
												<div class="input-group-text">{{ config_currency }}</div>
											</div>
											<input type="number" class="form-control" placeholder="{{ entry_max }}" name="budget_max" value="" min="1" id="input-budget_max">
										</div>
									</div>
								</div>
							</div>
							<div class="form-group row">
								<label for="date-end" class="col-sm-3 col-form-label">{{ entry_delivery_time }}<span data-toggle="tooltip" title="{{ help_delivery }}" datat-placement="top" class="text-primary"> <i class="icon-material-outline-help-outline"></i></span></label>
								<div class="col-sm-9">
									<input type="number" class="form-control" name="delivery_time" placeholder="{{ entry_delivery_time }}" value="" min="1" max="30" id="input-delivery_time">
								</div>
							</div>
							<div class="form-group row">
								<label for="date-end" class="col-sm-3 col-form-label">{{ entry_run_time }}<span data-toggle="tooltip" title="{{ help_bidding_duration }}" datat-placement="top" class="text-primary"> <i class="icon-material-outline-help-outline"></i></span></label>
								<div class="col-sm-9">
									<input type="number" class="form-control" name="runtime" placeholder="{{ entry_run_time }}" id="input-runtime" min="1" max="30">
								</div>
							</div>
							<div class="padding-top-20 text-right padding-bottom-30">
								<button type="button" class="button btn-sm ripple-effect" id="button-project-add"><i class="icon-material-outline-add"></i> {{ button_save }}</button>
							</div>	
						</div>
						</div>
					</form>
				</div>
				<!-- Row / End -->
			</div>
		</div>
	</div>
</div>
<link href="catalog/default/vendor/bootstrap-fileinput/css/fileinput.min.css" media="all" rel="stylesheet" type="text/css">
<link href="catalog/default/vendor/bootstrap-fileinput/themes/explorer-fas/theme.min.css" rel="stylesheet" type="text/css">
<script src="catalog/default/vendor/bootstrap-fileinput/js/fileinput.min.js"></script>
<script src="catalog/default/vendor/bootstrap-fileinput/themes/explorer-fas/theme.min.js"></script>
<script src="catalog/default/vendor/jQuery-Text-Counter/textcounter.min.js"></script> 
<script type="text/javascript">
$('select[name^=\'category\']').select2({
ajax: {
	url: "project/category/autocomplete",
	dataType: 'json',
	delay: 250,
	data: function (params) {
		return {
			filter_category: params.term,
		};
	},
	processResults: function (data, params) {
		var results = $.map(data, function (item) {
			item.id = item.category_id;
			item.text = item.name;
			return item;
		});
		return {
			results: results,
		};
	},
	cache: true
},
theme: 'bootstrap4',
placeholder: '{{ text_select }}',
allowClear: true,
});
</script>
<script type="text/javascript">
$("#input-upload").fileinput({
	preferIconicPreview:true,
	theme: 'explorer-fas',
	showUpload:false,
    reversePreviewOrder: true,
    initialPreviewAsData: true,
    overwriteInitial: false,
	fileActionSettings: {
		showZoom: false,
		showDrag: false,
		showUpload: true,
	},
	maxFileSize: 1000,
	removeClass: 'btn btn-kv btn btn-danger',
	removeFromPreviewOnError: true,
	dropZoneEnabled: false,
	showCancel: true,
    allowedFileExtensions: {{ allowedFileExtensions|json_encode() }},
 });

</script>
<!-- // tags input -->
<script type="text/javascript">
$('#input-{{ language_id }}-description').textcounter({
	min: 30,
	max: 1000,
	countDown: true,
	stopInputAtMaximum : true,  
	minimumErrorText : "Please enter at least 30 characters", 
});
$('#input-{{ language_id }}-name').textcounter({
	min: 10,
	max: 64,
	countDown: true,
	stopInputAtMaximum : true,  
	minimumErrorText : "Please enter at least 10 characters", 
});
</script>
<!-- Add Project -->
<script type="text/javascript">
$('#button-project-add').on('click', function(e) {
	e.preventDefault();
	const node = this;
	$.ajax({
	    url: 'project/project/add',
	    headers: {
	      'X-CSRF-TOKEN': $('meta[name="{{ csrf_token() }}"]').attr('content'),
	      'X-Requested-With': 'XMLHttpRequest',
	    },
	    type: 'post',
	    dataType: 'json',
	    data: new FormData($('#form-project-add')[0]),
		processData: false,
		contentType: false,
		cache: false,
	    beforeSend: function() {
	    	$('.invalid-feedback, .alert').remove();
			$('input, textarea').removeClass('is-invalid');
			$(node).prop('disabled', true);
			$(node).html('<span class="spinner-border spinner-border-sm" role="status" aria-hidden="true"></span> Loading...');
	    },
	    complete: function() {
			$(node).prop('disabled', false);
			$(node).html('<i class="icon-material-outline-add"></i> {{ button_save }}');
	    },
	    success: function(json) {
	    	if (json['error_warning']) {
	    		for (i in json['error']) { 
				  var el = i.split('.').join('-');
                  var input = $('#' + el.replace('project_description', 'input'));

				  if (input) {
					input.addClass('is-invalid');
	    		    input.after('<div class="invalid-feedback">' + json['error'][i]+ '</div>'); 
				  } 
	    		    $('#input-' + i).addClass('is-invalid');
	    		    $('#input-' + i).after('<div class="invalid-feedback">' + json['error'][i]+ '</div>');
	    		
				}
	            $('#form-project-add').before('<div class="alert alert-danger fade show" role="alert"><i class="fas fa-exclamation-circle"></i> ' + json['error_warning'] + '<button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button></div>');
				$('html, body').animate({
					scrollTop: $('.headline').offset().top
			  }, 1000, 'linear');
	    	}

			if (json['error_file']) {
				$('#form-project-add').before('<div class="alert alert-danger fade show" role="alert"><i class="fas fa-exclamation-circle"></i> ' + json['error_file'] + '<button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button></div>')
			}

			if (json['redirect']) {
				location = json['redirect'];
			}

	    },
	    error: function(xhr, ajaxOptions, thrownError) {
			alert(thrownError + "\r\n" + xhr.statusText + "\r\n" + xhr.responseText);
        }	
    });
});
</script>
<script>
//$('#input-form-type input[type=\'radio\']').on('change', function() {
$('#input-form-type input[type=\'radio\']').on('change', function() { 
	if($(this).is(":checked")) {
		if ($(this).val() == 1) {
			html = `<div class="form-group row mt-3">
				<label for="input-budget" class="col-sm-3 col-form-label">{{ text_budget }}<span data-toggle="tooltip" title="{{ help_budget }}" datat-placement="top" class="text-primary"> <i class="icon-material-outline-help-outline"></i></span></label>
				<div class="col-sm-9">
					<div class="input-group">
						<div class="input-group-prepend">
							<div class="input-group-text">{{ config_currency }}</div>
						</div>
						<input type="number" class="form-control" placeholder="{{ entry_min }}" name="budget_min" value="" min="1" id="input-budget_min">
					</div>
					<div class="input-group mt-2">
						<div class="input-group-prepend">
							<div class="input-group-text">{{ config_currency }}</div>
						</div>
						<input type="number" class="form-control" placeholder="{{ entry_max }}" name="budget_max" value="" min="1" id="input-budget_max">
					</div>
				</div>
			</div>`;
			$('#budget-container').html(html);
			} else {
			html = `<div class="form-group row mt-3">
				<label for="input-budget" class="col-sm-3 col-form-label">{{ text_budget }}<span data-toggle="tooltip" title="{{ help_budget }}" datat-placement="top" class="text-primary"> <i class="icon-material-outline-help-outline"></i></span></label>
				<div class="col-sm-9">
					<div class="input-group">
						<div class="input-group-prepend">
							<div class="input-group-text">{{ config_currency }} / {{ text_per_hour }}</div>
						</div>
						<input type="number" class="form-control" placeholder="{{ entry_min }}" name="budget_min" value="" min="1" id="input-budget_min">
					</div>
					<div class="input-group mt-2">
						<div class="input-group-prepend">
							<div class="input-group-text">{{ config_currency }} / {{ text_per_hour }}</div>
						</div>
						<input type="number" class="form-control" placeholder="{{ entry_max }}" name="budget_max" value="" min="1" id="input-budget_max">
					</div>
				</div>
			</div>`;
		$('#budget-container').html(html);
		}
	}
});
</script>
{{ footer }}