{% if bids %}
<div class="boxed-list">
	<div class="boxed-list-headline">
		<h3><i class="icon-material-outline-group"></i> {{ heading_title }}</h3>
	</div>
	<ul class="boxed-list-ul">
		{% for bid in bids %}
		<li id="bid-{{ bid.bid_id }}">
			<div class="bid">
				<div class="bids-avatar">
					<div class="freelancer-avatar">
						<a href="{{ bid.profile }}"><img src="{{ bid.image }}" alt=""></a>
					</div>
				</div>
				<div class="bids-content">
					<div class="freelancer-name">
						<h4><a href="{{ bid.profile }}">{{ bid.freelancer }}</a></h4>
						<div class="">{{ bid.description }}</div>
					</div>
				</div>
				<div class="bids-bid">
					<div class="bid-rate">
						<div class="rate"><small>Quote:</small> {{ bid.quote }}</div>
						<div class="rate"><small>Delivery:</small> {{ bid.delivery }}</div>
						<div class="rating">
							<ul class="pl-0">
								{% for i in 1..5 %}
								{% if bid.rating < i %}
								<li><span class="fa-stack"><i class="far fa-star fa-stack-1x"></i></span></li>
								{% else %}
								<li><span class="fa-stack">
										<i class="fas fa-star fa-stack-1x"></i></span></li>
								{% endif %}
								{% endfor %}
							</ul>
						</div>
					</div>
				</div>
			</div>
		</li>
		{% endfor %}
	</ul>
</div>
{% endif %}