<div id="blog">
<header class="header">
		<div class="container-fluid">
		<div id="logo">
			<a href="<?php echo $home; ?>">
				<img src="<?php echo img_url('logo.svg'); ?>" width="140" height="35" alt="">
			</a>
		</div>
		{% if not isLogged %}
		<ul id="top_menu" class="drop_user">
			<li>
				<div class="dropdown user clearfix">
				    <a href="#" data-toggle="dropdown">
				        <figure><img src="<?php echo $image; ?>" alt=""></figure>{{ username }}
				    </a>
				    <div class="dropdown-menu">
				        <div class="dropdown-menu-content">
				            <ul>
				            	<li><a href="#0"><i class="icon_cog"></i>{{ button_dashboard }}</a></li>
				            	<li><a href="#0"><i class="icon_mail"></i>{{ button_messages }}</a></li>
				            	<li><a href="<?php echo $logout; ?>"><i class="icon_key"></i>{{ button_logout }}</a></li>
				            </ul>
				        </div>
				    </div>
				</div>
				<!-- /dropdown -->
			</li>
		</ul>
		{% endif %}
		{% if not isLogged %}
		<ul id="top_menu">
			<li><button type="button" class="btn btn-dark btn-sm btn_access" data-toggle="modal" data-target="#login">{{ text_login }}</button></li>
			<li><buttton type="button" class="btn btn-success btn-sm btn_access" data-toggle="modal" data-target="#register">{{ text_register }}</buttton></li>
		</ul>
		{% endif %}
		<!-- /top_menu -->
		<a href="#0" class="open_close">
			<i class="icon_menu"></i><span>{{ text_menu }}</span>
		</a>
		<nav class="main-menu">
			<ul>
			{% for menu in menus %}
			{% if menu.children %}
				<li class="submenu">
					<a href="{{ menu.href }}" class="show-submenu">{{ menu.name }}</a>
					<ul>
					{% for child in menu.children %}
						<li><a href="{{ child.href }}">{{ child.name }}</a></li>
					}
					{% endfor %}
					</ul>
				</li>
			    {% else %}
				<li><a href="{{ menu.href }}">{{ menu.name }}</a></li>
			    {% endif %}

			    {% endfor %}
			</ul>
		</nav>
	</div>
	</header>
	<!-- /header -->
	</div>
