{{ header}}{{ menu }}
<div class="jumbotron">
	<div class="container-fluid">
		<h2 class="display-5">{{ heading_title }}</h2>
	</div>
</div>
<div class="container-fluid">
	<div class="row">
		<div class="col-12">
			<nav id="breadcrumbs">
				<ul>
					{% for breadcrumb in breadcrumbs %}
					<li><a href="{{ breadcrumb.href }}">{{ breadcrumb.text }}</a></li>
					{% endfor %}
				</ul>
			</nav>
		</div>
	</div>
	<div class="section margin-top-30">
		<div class="row">
			<div class="col-xl-12 col-lg-12">
				<section id="contact" class="margin-bottom-60">
					{{ description }}
				</section>

			</div>
		</div>
	</div>
</div>
{{ footer }}