{% if educations %}
<hr />
<div class="table-responsive col-md-12">
    <table class="table table-bordered" id="education-table">
        <thead>
            <tr>
                <th scope="col">{{ column_country }}</th>
                <th scope="col">{{ column_university }}</th>
                <th scope="col">{{ column_major }}</th>
                <th scope="col">{{ column_year }}</th>
                <th scope="col">{{ column_action }}</th>

            </tr>
        </thead>
        <tbody>
            {% for education in educations %}
            <tr>
                <td>{{ educationcountry }}</td>
                <td>{{ educationuniversity }}</td>
                <td>{{ educationmajor }}</td>
                <td>{{ educationyear }}</td>
                <td><button type="button" value="{{ education.education_id }}"
                        id="button-delete-education{{ education.education_id }}" data-toggle="tooltip"
                        title="{{ button_delete }}" class="btn btn--icon btn-sm btn-danger"><i
                            class="icon-feather-trash-2" aria-hidden="true"></i>
                    </button></td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</div>
<div class="row">
    <div class="float-left">
        {{ pagination }}
    </div>
</div>
{% endif %}